* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  text-decoration: none;
}

html {
  font-size: 10px;
}

body {
  font-family: "impact";
  font-size: 1.6rem;
  color: #191a29;
}

.container {
  position: relative;
  z-index: 1;
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat 7, 1fr;
  grid-template-rows: repeat 10, 1fr;
  gap: 2rem 2rem;
  grid-auto-flow: row;
  grid-template-areas: "date date today today today city-name city-name" "date date today today today compass compass" "date date today today today compass compass" "form day today today today compass compass" "form day today today today compass compass" "temperature temperature temperature temperature temperature temperature temperature" "temperature temperature temperature temperature temperature temperature temperature" "week week week week week week week" "week week week week week week week" "week week week week week week week";
}

.city-name {
  grid-area: city-name;
}

.date {
  grid-area: date;
}

.form {
  grid-area: form;
}

.day {
  grid-area: day;
}

.temperature {
  grid-area: temperature;
}

.compass {
  grid-area: compass;
}

.today {
  grid-area: today;
}

.week {
  grid-area: week;
}

@media (max-width: 1160px) {
  .container {
    display: grid;
    gap: 2rem;
    height: fit-content;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "city-name " "form " "date " "date " "today " "today " "day " "compass" "compass" "temperature " "week " "week ";
  }
}
.primary-btn {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}
.primary-btn :hover {
  background-color: #2980b9;
}
.primary-btn :active {
  transform: scale(0.95);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: rgba(131, 130, 130, 0.2901960784);
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.3294117647), inset -6px -6px 12px rgba(255, 255, 255, 0.3294117647);
  padding: 2rem;
  height: 100%;
  gap: 1.5rem;
}
.card img {
  width: 10rem;
  height: 10rem;
}

.card-time :first-child {
  font-size: 6.4rem;
}
.card-time :last-child {
  font-size: 3.2rem;
}

.card-now img {
  width: 20rem;
  height: 20rem;
}
.card-now :first-child {
  font-size: 3.2rem;
}
.card-now :last-child {
  font-size: 6.4rem;
}

.card-hourly :first-child, .card-hourly p:nth-child(2) {
  color: #000000;
}

.card-compass p {
  color: #000000;
}
.card-compass .compass-container {
  position: relative;
  display: inline-block;
}
.card-compass .compass-container .compass {
  width: 25.6rem;
  height: 25.6rem;
}
.card-compass .compass-container .compass-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  width: 3.2rem;
  height: 18.9rem;
}
.card-compass .compass-container .compass-arrow.rotate {
  transform: translate(-50%, -50%) rotate(var(--rotation, 0deg));
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.week .week-day {
  flex-grow: 1;
  display: flex;
}
.week .week-day .card-daily {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.week .week-day .card-daily :first-child {
  font-size: 2.2rem;
  color: #000000;
}
.week .week-day .card-daily :nth-child(3) {
  font-size: 3.2rem;
}
.week .week-day .card-daily :last-child {
  color: #000000;
}

@media (max-width: 1160px) {
  .week {
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .week .week-day {
    min-width: max-content;
    height: 100%;
  }
  .week ::-webkit-scrollbar {
    display: none;
  }
}
.temperature {
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  min-height: 15.2rem;
}
.temperature .slider {
  display: flex;
  min-width: max-content;
  height: 100%;
}
.temperature .slider .card-hourly {
  scroll-snap-align: start;
  width: 15.2rem;
  margin-right: 2rem;
}
.temperature .slider .card-hourly img {
  width: 2rem;
  height: 2rem;
}
.temperature ::-webkit-scrollbar {
  display: none;
}

.form #weatherForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 20px auto;
}
.form input {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  border: 2px solid #3498db;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.form input :focus {
  border-color: #2980b9;
  box-shadow: 0 0 10px rgba(52, 152, 219, 0.5);
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 412px;
}
main .background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
main .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
