@use "../abstracts/index" as *;

.temperature {
    width: 100%;
    overflow: hidden;
    position: relative;
    .slider {
        display: flex;
        transition: transform 0.5s ease-in-out;
        height: 100%;
        .card-hourly {
            flex: 0 0 calc(100% / 9);
            width: 15.2rem;
            margin-right: 2rem;
            img{
                width: 2rem;
                height: 2rem; 
            }
        }
    }

}
