@use "../abstracts/index" as *;

.container {  
    height: 100vh;
    padding: $spacing;
    display: grid;
    grid-template-columns: repeat (7, 1fr );
    grid-template-rows: repeat (10, 1fr );
    gap: $spacing $spacing;
    grid-auto-flow: row;
    grid-template-areas:
      "date date today today today city-name city-name"
      "date date today today today compass compass"
      "date date today today today compass compass"
      "form day today today today compass compass"
      "form day today today today compass compass"
      "temperature temperature temperature temperature temperature temperature temperature"
      "temperature temperature temperature temperature temperature temperature temperature"
      "lundi mardi mercredi jeudi vendredi samedi dimanche"
      "lundi mardi mercredi jeudi vendredi samedi dimanche"
      "lundi mardi mercredi jeudi vendredi samedi dimanche";
  }
  
  .city-name { grid-area: city-name; }
  
  .date { grid-area: date; }
  
  .form { grid-area: form; }
  
  .day { grid-area: day; }
  
  .lundi { grid-area: lundi; }
  
  .mardi { grid-area: mardi; }
  
  .mercredi { grid-area: mercredi; }
  
  .jeudi { grid-area: jeudi; }
  
  .vendredi { grid-area: vendredi; }
  
  .samedi { grid-area: samedi; }
  
  .dimanche { grid-area: dimanche; }
  
  .temperature { grid-area: temperature; }
  
  .compass { grid-area: compass; }
  
  .today { grid-area: today; }
  